.Video
  .g-wrapper

    .Bubbles
      - for (var x = 6; x < 16; x++)
        .bubble(class="bubble"+x)

    .video-box
      iframe(src="https://www.youtube.com/embed/DZsxaiBVSQA?list=PLkhjBfGXslw4FnqGeIz4JdCAwPkpn1FQ5" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
